
#main{
	display: flex;
	flex-direction: column;
}
#main .group{
	width: 100%;
	display: flex;
}
#main .group .item{
	width: 10px;
	height: 10px;
	border: solid 1px #999;
	margin: 1px;
}
.item.active{
	background-color: red;
}
